<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/css/t01part32/style32.css">
    <title>Project</title>
</head>

<body>
    <section class="container">
        <div class="head">
            <div>
                <ul>
                    <li>جدید ترین محصولات Baseus</li>
                </ul>
            </div>
            <div>
                <a href="https://www.google.com">نمایش همه</a>
            </div>
        </div>

        <div class="row">
            <div class="flex-item">
                <div>
                    <img src="/Assets/img/t01part32/img1.jpg" alt="img">
                </div>
                <a href="https://google.com">کابل لایتنینگ هوشمند بیسوس Baseus C-shaped LIghining Cable 1m</a>
                <span class="off">14%</span>
                <span class="mony">320,000</span>
                <div class="div-child-flex-item">
                    <span>
                        <span class="mony">275,000</span> تومان
                    </span>
                    <ul>
                        <li>
                            4.5
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-item">
                <div>
                    <img src="/Assets/img/t01part32/img2.jpg" alt="img">
                </div>
                <a href="https://google.com">کابل لایتنینگ هوشمند بیسوس Baseus C-shaped LIghining Cable 1m</a>
                <span class="off">14%</span>
                <span class="mony">320,000</span>
                <div class="div-child-flex-item">
                    <span>
                        <span class="mony">275,000</span> تومان
                    </span>
                    <ul>
                        <li>
                            4.5
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-item">
                <div>
                    <img src="/Assets/img/t01part32/img3.jpg" alt="img">
                </div>
                <a href="https://google.com">کابل لایتنینگ هوشمند بیسوس Baseus C-shaped LIghining Cable 1m</a>
                <span class="off">14%</span>
                <span class="mony">320,000</span>
                <div class="div-child-flex-item">
                    <span>
                        <span class="mony">275,000</span> تومان
                    </span>
                    <ul>
                        <li>
                            4.5
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-item">
                <div>
                    <img src="/Assets/img/t01part32/img4.jpg" alt="img">
                </div>
                <a href="https://google.com">کابل لایتنینگ هوشمند بیسوس Baseus C-shaped LIghining Cable 1m</a>
                <span class="off">14%</span>
                <span class="mony">320,000</span>
                <div class="div-child-flex-item">
                    <span>
                        <span class="mony">275,000</span> تومان
                    </span>
                    <ul>
                        <li>
                            4.5
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</body>

</html>