*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body{
    font-size: 22px;
}
.container{
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.title{
    position: relative;
    padding-right: 28px;
    margin-right: 28px;
}
/*.title::after{
    content: "متن تستی ";
}*/
.title::before{
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-color: blue;
    border-radius: 200px;
    position: absolute;
    right: 0;
    margin: auto 0;
    top: 0;
    bottom: 0;
}
.container__child-title2{
    position: relative;
}
.container__child-title2::before{
    content: "";
    width: 120px;
    display: block;
    border-bottom: 2px solid black;
    position: absolute;
    top: 24px;
}