body{
    font-family: sans-serif;
}
div{
    width: 400px;
    height: 200px;
    background-color: #fbbc00;

    /*max-width: ;
    min-width: none;

    max-height: ;
    min-height: ;*/
}
p{
    max-width: 500px;
    min-width: 300px;
}