*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
div{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    padding: 10px;
    color: white;
    background-color: blueviolet;
    box-sizing: border-box;
}