body{
    font-family: sans-serif;
    font-size: 24px;
    color: red;
}

.mybg{
    width: 800px;
    height: 800px;
    padding-right: 20px;
    padding-top: 20px;
    /*background-image: url("../img/07.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-position: right;
    background-position: left;
    background-position: top;
    background-position: center;
    background-position-x: center;
    background-position-y: center;*/
    background: url(../img/07.jpg) no-repeat fixed center;
}