/* @font-face - local() */
@font-face {
    font-family: "sans-serif-custom";
    src:local("sans-serif"), url("/Assets/font/SANSSERIFCOLLECTION.TTF") format("truetype");
    font-weight: 200px;
    /*src: url("/Assets/font/SANSSERIFCOLLECTION.TTF") format("truetype"),;*/
}
/*
@font-face {
    font-family: "sans-serif-bold";
    src: url("/Assets/font/SANSSERIFCOLLECTION.TTF") format("truetype")
    src: url("/Assets/font/SANSSERIFCOLLECTION.TTF") format("truetype");
}
*/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: sans-serif-custom;
}
div{
    background-color: #d81b60;
    color: white;
    border-radius: 12px;
    padding: 24px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: justify;
    text-transform: capitalize;

}
h1{
    margin-bottom: 12px;
    text-shadow: 2px 2px 4px #2196f3;
}
a{
    color: white;
}
span{
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}