*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: #37474f;
}

.box1,
.box2,
.box3{
    height: 150px;
    margin-bottom: 24px;
}
.box1{
    background-color: #ad1457;
    position: relative;
}
.box2{
    background-color: #1565c0;
}
.box3{
    background-color: #55882f;
}
.overlay{
    height: 1000px;
}


.box1__child{
    width: 100px;
    height: 100px;
    background-color: #fbbc00;
    position: absolute;
    left: 0;
    bottom: 0;
}

