<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part 23</title>
    <link rel="stylesheet" href="/Assets/css/style23.css">
</head>
<body>
    <div>
        <h1>Page Title</h1>
        <span>page title span</span>
        <h2>subtitle</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, unde. Facere dolorum, at officia sed optio nesciunt eos quod deleniti quis cupiditate tempora repellendus quisquam reiciendis reprehenderit, nulla corrupti! Sint?</p>
        <ul>
            <li>v1</li>
            <li>v2</li>
            <li>v3</li>
        </ul>
        <a href="https://google.com" class="link">show more</a>
    </div>
</body>
</html>