<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part 05</title>
    <link rel="stylesheet" href="/Assets/css/style05.css">
</head>
<body>
    <main class="main">
        <div class="content-1">
            <p>متن تستی جهت نمایش</p>
            <h1>عنوان اول صفحه</h1>
            <p>متن تستی جهت نمایش</p>
            <p>متن تستی جهت نمایش</p>
            <p>متن تستی جهت نمایش</p>
            <p>متن تستی جهت نمایش</p>
            <div>
                <p>داخلی ترین متن</p>
                <div></div>
            </div>
        </div>
        <br>
        <div class="content-2">
            <h3>عنوان دوم صفحه</h3>
            <p>متن تستی دوم</p>
            <p>متن تستی دوم</p>
        </div>
    </main>
    
</body>
</html>