<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part 45</title>
    <link rel="stylesheet" href="/Assets/css/style45.css">
</head>
<body>
    <div class="container">
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, molestiae assumenda? Amet cupiditate animi, expedita dolore aut aliquid, temporibus possimus consectetur id quod neque quisquam sit voluptatibus, ipsa vel libero.
            </p>
        </div>
    </div>
</body>
</html>