<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part 49</title>
    <link rel="stylesheet" href="/Assets/css/style49.css">
</head>
<body>
    <div class="container">
        <h1>Hello</h1>
        <div class="box"></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque quod nobis quidem quia, facere, tempora vero dolor earum aliquid eveniet, voluptate asperiores praesentium eius veritatis ut. Quibusdam voluptas beatae ratione.</p>
    </div>
</body>
</html>