<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part 42</title>
    <link rel="stylesheet" href="/Assets/css/style42.css">
</head>
<body>
    <div class="container">
        <div class="wrapper"></div>
        <button>click</button>
        <a href="">link</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, deleniti explicabo illo voluptate reprehenderit, adipisci ratione nulla sit alias illum, sequi culpa incidunt rerum tempore impedit? Quisquam sunt repellat amet!</p>
    </div>
</body>
</html>