<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part 39</title>
    <link rel="stylesheet" href="/Assets/css/style39.css">
</head>
<body>
    <div class="container">
        <div>
            <label for="name">نام:</label>
            <input type="text" placeholder="" id="name">
        </div>
        <div>
            <label for="family">نام خانوادگی:</label>
            <input type="text" placeholder="" id="family">
        </div>
        <div>
            <label for="email">ایمیل:</label>
            <input type="email" placeholder="ایمیل" id="email">
        </div>
        <a href="https://sabzlearn.ir">سبزلرن</a>
        <a href="google.com">گوگل</a>
        <a href="https://www.instagram.com">اینستاگرام</a>
    </div>
</body>
</html>