<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>part 04</title>
    <link rel="stylesheet" href="/Assets/css/style04.css">
</head>
<body>
    <h1>My title</h1>
    <h2>My SubTitle</h2>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p id="mytext">Lorem ipsum dolor sit amet.</p>
    <p class="caption">Lorem ipsum dolor sit amet.</p>
    <p class="caption">Lorem ipsum dolor sit amet.</p>
    <span class="caption">Lorem.</span>
    <section></section>
</body>
</html>