<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/css/syle35.css">
    <title>part 35</title>
</head>
<body>
    <!--<input type="checkbox" class="checkbox" title="checkbox">
    <p>ایتم فعال شد</p>-->
    <div class="container">
        <!--<input type="checkbox" class="checkbox" title="checkbox">
        <p class="alert">ایتم فعال شد!</p>-->
        <ol class="list">
            <li class="item">ایتم اول</li>
            <li class="item item-delete">ایتم دوم</li>
            <li class="item">ایتم سوم</li>
            <li class="item">ایتم چهارم</li>
            <li class="item">ایتم شیشم</li>
            <li class="item">ایتم پنجم</li>
        </ol>
        <div class="content"></div>
        <div class="content">
            <p>Lorem.</p>
        </div>
    </div>
</body>
</html>